site/protected/components/TechProcess/test/TransactionDetailsNew.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://shopping.util.pg.tp.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://shopping.util.pg.tp.com" xmlns:intf="http://shopping.util.pg.tp.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://shopping.util.pg.tp.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getTransactionToken">
    <complexType>
     <sequence>
      <element name="msg" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTransactionTokenResponse">
    <complexType>
     <sequence>
      <element name="getTransactionTokenReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getTransactionTokenRequest">

      <wsdl:part element="impl:getTransactionToken" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getTransactionTokenResponse">

      <wsdl:part element="impl:getTransactionTokenResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="TransactionDetails">

      <wsdl:operation name="getTransactionToken">

         <wsdl:input message="impl:getTransactionTokenRequest" name="getTransactionTokenRequest"/>

         <wsdl:output message="impl:getTransactionTokenResponse" name="getTransactionTokenResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TransactionDetailsSoapBinding" type="impl:TransactionDetails">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getTransactionToken">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTransactionTokenRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTransactionTokenResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TransactionDetailsService">

      <wsdl:port binding="impl:TransactionDetailsSoapBinding" name="TransactionDetails">

         <wsdlsoap:address location="https://www.tekprocess.co.in/PaymentGateway/services/TransactionDetailsNew"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
