site/protected/components/Amadeus/production_v2/1ASIWBELBEL_PRD_20160210_062218.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Created with WSDLGenerator 1.0.0 by Amadeus SAS -->
<!-- "Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved." -->
<wsdl:definitions
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://xml.amadeus.com"
    xmlns:awsse="http://xml.amadeus.com/ws/2009/01/WBS_Session-2.0.xsd"
    xmlns:fare_checkrules_7_1="http://xml.amadeus.com/FARQNQ_07_1_1A"
    xmlns:fare_checkrulesreply_7_1="http://xml.amadeus.com/FARQNR_07_1_1A"
    xmlns:fare_masterpricertravelboardsearch_14_2="http://xml.amadeus.com/FMPTBQ_14_2_1A"
    xmlns:fare_masterpricertravelboardsearchreply_14_2="http://xml.amadeus.com/FMPTBR_14_2_1A"
    xmlns:air_sellfromrecommendation_5_2="http://xml.amadeus.com/ITAREQ_05_2_IA"
    xmlns:air_sellfromrecommendationreply_5_2="http://xml.amadeus.com/ITARES_05_2_IA"
    xmlns:pnr_reply_14_1="http://xml.amadeus.com/PNRACC_14_1_1A"
    xmlns:pnr_addmultielements_14_1="http://xml.amadeus.com/PNRADD_14_1_1A"
    xmlns:pnr_retrieve_14_1="http://xml.amadeus.com/PNRRET_14_1_1A"
    xmlns:pnr_cancel_14_1="http://xml.amadeus.com/PNRXCL_14_1_1A"
    xmlns:queue_placepnr_3_1="http://xml.amadeus.com/QUQPCQ_03_1_1A"
    xmlns:queue_placepnrreply_3_1="http://xml.amadeus.com/QUQPCR_03_1_1A"
    xmlns:ticket_createtstfrompricing_4_1="http://xml.amadeus.com/TAUTCQ_04_1_1A"
    xmlns:ticket_createtstfrompricingreply_4_1="http://xml.amadeus.com/TAUTCR_04_1_1A"
    xmlns:fare_informativepricingwithoutpnr_8_1="http://xml.amadeus.com/TIPNRQ_08_1_1A"
    xmlns:fare_informativepricingwithoutpnrreply_8_1="http://xml.amadeus.com/TIPNRR_08_1_1A"
    xmlns:minirule_getfrompricingrec_11_1="http://xml.amadeus.com/TMRQRQ_11_1_1A"
    xmlns:minirule_getfrompricingrecreply_11_1="http://xml.amadeus.com/TMRQRR_11_1_1A"
    xmlns:pnr_list_0_1="http://xml.amadeus.com/TNLRES_00_1_1A"
    xmlns:fare_pricepnrwithbookingclass_7_3="http://xml.amadeus.com/TPCBRQ_07_3_1A"
    xmlns:fare_pricepnrwithbookingclassreply_7_3="http://xml.amadeus.com/TPCBRR_07_3_1A"
    xmlns:docissuance_issueticket_9_1="http://xml.amadeus.com/TTKTIQ_09_1_1A"
    xmlns:docissuance_issueticketreply_9_1="http://xml.amadeus.com/TTKTIR_09_1_1A"
    xmlns:ticket_displaytst_7_1="http://xml.amadeus.com/TTSTRQ_07_1_1A"
    xmlns:ticket_displaytstreply_7_1="http://xml.amadeus.com/TTSTRR_07_1_1A"
    xmlns:security_authenticate_6_1="http://xml.amadeus.com/VLSSLQ_06_1_1A"
    xmlns:security_authenticatereply_6_1="http://xml.amadeus.com/VLSSLR_06_1_1A"
    xmlns:security_signout_4_1="http://xml.amadeus.com/VLSSOQ_04_1_1A"
    xmlns:security_signoutreply_4_1="http://xml.amadeus.com/VLSSOR_04_1_1A" 
    xmlns:queue_list_11_1="http://xml.amadeus.com/QDQLRQ_11_1_1A" 
    xmlns:queue_listreply_11_1="http://xml.amadeus.com/QDQLRR_11_1_1A"
    targetNamespace="http://xml.amadeus.com">
    <wsdl:types>
        <xs:schema>
            <xs:import schemaLocation="WBS_Session-2.0.xsd" namespace="http://xml.amadeus.com/ws/2009/01/WBS_Session-2.0.xsd" />
            <xs:import schemaLocation="Fare_CheckRules_07_1_1A.xsd" namespace="http://xml.amadeus.com/FARQNQ_07_1_1A" />
            <xs:import schemaLocation="Fare_CheckRulesReply_07_1_1A.xsd" namespace="http://xml.amadeus.com/FARQNR_07_1_1A" />
            <xs:import schemaLocation="Fare_MasterPricerTravelBoardSearch_14_2_1A.xsd" namespace="http://xml.amadeus.com/FMPTBQ_14_2_1A" />
            <xs:import schemaLocation="Fare_MasterPricerTravelBoardSearchReply_14_2_1A.xsd" namespace="http://xml.amadeus.com/FMPTBR_14_2_1A" />
            <xs:import schemaLocation="Air_SellFromRecommendation_05_2_IA.xsd" namespace="http://xml.amadeus.com/ITAREQ_05_2_IA" />
            <xs:import schemaLocation="Air_SellFromRecommendationReply_05_2_IA.xsd" namespace="http://xml.amadeus.com/ITARES_05_2_IA" />
            <xs:import schemaLocation="PNR_Reply_14_1_1A.xsd" namespace="http://xml.amadeus.com/PNRACC_14_1_1A" />
            <xs:import schemaLocation="PNR_AddMultiElements_14_1_1A.xsd" namespace="http://xml.amadeus.com/PNRADD_14_1_1A" />
            <xs:import schemaLocation="PNR_Retrieve_14_1_1A.xsd" namespace="http://xml.amadeus.com/PNRRET_14_1_1A" />
            <xs:import schemaLocation="PNR_Cancel_14_1_1A.xsd" namespace="http://xml.amadeus.com/PNRXCL_14_1_1A" />
            <xs:import schemaLocation="Queue_List_11_1_1A.xsd" namespace="http://xml.amadeus.com/QDQLRQ_11_1_1A" />
            <xs:import schemaLocation="Queue_ListReply_11_1_1A.xsd" namespace="http://xml.amadeus.com/QDQLRR_11_1_1A" />
            <xs:import schemaLocation="Queue_PlacePNR_03_1_1A.xsd" namespace="http://xml.amadeus.com/QUQPCQ_03_1_1A" />
            <xs:import schemaLocation="Queue_PlacePNRReply_03_1_1A.xsd" namespace="http://xml.amadeus.com/QUQPCR_03_1_1A" />
            <xs:import schemaLocation="Ticket_CreateTSTFromPricing_04_1_1A.xsd" namespace="http://xml.amadeus.com/TAUTCQ_04_1_1A" />
            <xs:import schemaLocation="Ticket_CreateTSTFromPricingReply_04_1_1A.xsd" namespace="http://xml.amadeus.com/TAUTCR_04_1_1A" />
            <xs:import schemaLocation="Fare_InformativePricingWithoutPNR_08_1_1A.xsd" namespace="http://xml.amadeus.com/TIPNRQ_08_1_1A" />
            <xs:import schemaLocation="Fare_InformativePricingWithoutPNRReply_08_1_1A.xsd" namespace="http://xml.amadeus.com/TIPNRR_08_1_1A" />
            <xs:import schemaLocation="MiniRule_GetFromPricingRec_11_1_1A.xsd" namespace="http://xml.amadeus.com/TMRQRQ_11_1_1A" />
            <xs:import schemaLocation="MiniRule_GetFromPricingRecReply_11_1_1A.xsd" namespace="http://xml.amadeus.com/TMRQRR_11_1_1A" />
            <xs:import schemaLocation="PNR_List_00_1_1A.xsd" namespace="http://xml.amadeus.com/TNLRES_00_1_1A" />
            <xs:import schemaLocation="Fare_PricePNRWithBookingClass_07_3_1A.xsd" namespace="http://xml.amadeus.com/TPCBRQ_07_3_1A" />
            <xs:import schemaLocation="Fare_PricePNRWithBookingClassReply_07_3_1A.xsd" namespace="http://xml.amadeus.com/TPCBRR_07_3_1A" />
            <xs:import schemaLocation="DocIssuance_IssueTicket_09_1_1A.xsd" namespace="http://xml.amadeus.com/TTKTIQ_09_1_1A" />
            <xs:import schemaLocation="DocIssuance_IssueTicketReply_09_1_1A.xsd" namespace="http://xml.amadeus.com/TTKTIR_09_1_1A" />
            <xs:import schemaLocation="Ticket_DisplayTST_07_1_1A.xsd" namespace="http://xml.amadeus.com/TTSTRQ_07_1_1A" />
            <xs:import schemaLocation="Ticket_DisplayTSTReply_07_1_1A.xsd" namespace="http://xml.amadeus.com/TTSTRR_07_1_1A" />
            <xs:import schemaLocation="Security_Authenticate_06_1_1A.xsd" namespace="http://xml.amadeus.com/VLSSLQ_06_1_1A" />
            <xs:import schemaLocation="Security_AuthenticateReply_06_1_1A.xsd" namespace="http://xml.amadeus.com/VLSSLR_06_1_1A" />
            <xs:import schemaLocation="Security_SignOut_04_1_1A.xsd" namespace="http://xml.amadeus.com/VLSSOQ_04_1_1A" />
            <xs:import schemaLocation="Security_SignOutReply_04_1_1A.xsd" namespace="http://xml.amadeus.com/VLSSOR_04_1_1A" />
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="Session_2.0">
        <wsdl:part element="awsse:Session" name="session" />
    </wsdl:message>
    <wsdl:message name="Air_SellFromRecommendation_5_2">
        <wsdl:part element="air_sellfromrecommendation_5_2:Air_SellFromRecommendation" name="Air_SellFromRecommendation_5_2" />
    </wsdl:message>
    <wsdl:message name="Air_SellFromRecommendationReply_5_2">
        <wsdl:part element="air_sellfromrecommendationreply_5_2:Air_SellFromRecommendationReply" name="Air_SellFromRecommendationReply_5_2" />
    </wsdl:message>
    <wsdl:message name="DocIssuance_IssueTicket_9_1">
        <wsdl:part element="docissuance_issueticket_9_1:DocIssuance_IssueTicket" name="DocIssuance_IssueTicket_9_1" />
    </wsdl:message>
    <wsdl:message name="DocIssuance_IssueTicketReply_9_1">
        <wsdl:part element="docissuance_issueticketreply_9_1:DocIssuance_IssueTicketReply" name="DocIssuance_IssueTicketReply_9_1" />
    </wsdl:message>
    <wsdl:message name="Fare_CheckRules_7_1">
        <wsdl:part element="fare_checkrules_7_1:Fare_CheckRules" name="Fare_CheckRules_7_1" />
    </wsdl:message>
    <wsdl:message name="Fare_CheckRulesReply_7_1">
        <wsdl:part element="fare_checkrulesreply_7_1:Fare_CheckRulesReply" name="Fare_CheckRulesReply_7_1" />
    </wsdl:message>
    <wsdl:message name="Fare_InformativePricingWithoutPNR_8_1">
        <wsdl:part element="fare_informativepricingwithoutpnr_8_1:Fare_InformativePricingWithoutPNR" name="Fare_InformativePricingWithoutPNR_8_1" />
    </wsdl:message>
    <wsdl:message name="Fare_InformativePricingWithoutPNRReply_8_1">
        <wsdl:part element="fare_informativepricingwithoutpnrreply_8_1:Fare_InformativePricingWithoutPNRReply" name="Fare_InformativePricingWithoutPNRReply_8_1" />
    </wsdl:message>
    <wsdl:message name="Fare_MasterPricerTravelBoardSearch_14_2">
        <wsdl:part element="fare_masterpricertravelboardsearch_14_2:Fare_MasterPricerTravelBoardSearch" name="Fare_MasterPricerTravelBoardSearch_14_2" />
    </wsdl:message>
    <wsdl:message name="Fare_MasterPricerTravelBoardSearchReply_14_2">
        <wsdl:part element="fare_masterpricertravelboardsearchreply_14_2:Fare_MasterPricerTravelBoardSearchReply" name="Fare_MasterPricerTravelBoardSearchReply_14_2" />
    </wsdl:message>
    <wsdl:message name="Fare_PricePNRWithBookingClass_7_3">
        <wsdl:part element="fare_pricepnrwithbookingclass_7_3:Fare_PricePNRWithBookingClass" name="Fare_PricePNRWithBookingClass_7_3" />
    </wsdl:message>
    <wsdl:message name="Fare_PricePNRWithBookingClassReply_7_3">
        <wsdl:part element="fare_pricepnrwithbookingclassreply_7_3:Fare_PricePNRWithBookingClassReply" name="Fare_PricePNRWithBookingClassReply_7_3" />
    </wsdl:message>
    <wsdl:message name="MiniRule_GetFromPricingRec_11_1">
        <wsdl:part element="minirule_getfrompricingrec_11_1:MiniRule_GetFromPricingRec" name="MiniRule_GetFromPricingRec_11_1" />
    </wsdl:message>
    <wsdl:message name="MiniRule_GetFromPricingRecReply_11_1">
        <wsdl:part element="minirule_getfrompricingrecreply_11_1:MiniRule_GetFromPricingRecReply" name="MiniRule_GetFromPricingRecReply_11_1" />
    </wsdl:message>
    <wsdl:message name="PNR_AddMultiElements_14_1">
        <wsdl:part element="pnr_addmultielements_14_1:PNR_AddMultiElements" name="PNR_AddMultiElements_14_1" />
    </wsdl:message>
    <wsdl:message name="PNR_Cancel_14_1">
        <wsdl:part element="pnr_cancel_14_1:PNR_Cancel" name="PNR_Cancel_14_1" />
    </wsdl:message>
    <wsdl:message name="PNR_List_0_1">
        <wsdl:part element="pnr_list_0_1:PNR_List" name="PNR_List_0_1" />
    </wsdl:message>
    <wsdl:message name="PNR_Reply_14_1">
        <wsdl:part element="pnr_reply_14_1:PNR_Reply" name="PNR_Reply_14_1" />
    </wsdl:message>
    <wsdl:message name="PNR_Retrieve_14_1">
        <wsdl:part element="pnr_retrieve_14_1:PNR_Retrieve" name="PNR_Retrieve_14_1" />
    </wsdl:message>
    <wsdl:message name="Queue_List_11_1">
        <wsdl:part element="queue_list_11_1:Queue_List" name="Queue_List_11_1" />
    </wsdl:message>
    <wsdl:message name="Queue_ListReply_11_1">
        <wsdl:part element="queue_listreply_11_1:Queue_ListReply" name="Queue_ListReply_11_1" />
    </wsdl:message>
    <wsdl:message name="Queue_PlacePNR_3_1">
        <wsdl:part element="queue_placepnr_3_1:Queue_PlacePNR" name="Queue_PlacePNR_3_1" />
    </wsdl:message>
    <wsdl:message name="Queue_PlacePNRReply_3_1">
        <wsdl:part element="queue_placepnrreply_3_1:Queue_PlacePNRReply" name="Queue_PlacePNRReply_3_1" />
    </wsdl:message>
    <wsdl:message name="Security_Authenticate_6_1">
        <wsdl:part element="security_authenticate_6_1:Security_Authenticate" name="Security_Authenticate_6_1" />
    </wsdl:message>
    <wsdl:message name="Security_AuthenticateReply_6_1">
        <wsdl:part element="security_authenticatereply_6_1:Security_AuthenticateReply" name="Security_AuthenticateReply_6_1" />
    </wsdl:message>
    <wsdl:message name="Security_SignOut_4_1">
        <wsdl:part element="security_signout_4_1:Security_SignOut" name="Security_SignOut_4_1" />
    </wsdl:message>
    <wsdl:message name="Security_SignOutReply_4_1">
        <wsdl:part element="security_signoutreply_4_1:Security_SignOutReply" name="Security_SignOutReply_4_1" />
    </wsdl:message>
    <wsdl:message name="Ticket_CreateTSTFromPricing_4_1">
        <wsdl:part element="ticket_createtstfrompricing_4_1:Ticket_CreateTSTFromPricing" name="Ticket_CreateTSTFromPricing_4_1" />
    </wsdl:message>
    <wsdl:message name="Ticket_CreateTSTFromPricingReply_4_1">
        <wsdl:part element="ticket_createtstfrompricingreply_4_1:Ticket_CreateTSTFromPricingReply" name="Ticket_CreateTSTFromPricingReply_4_1" />
    </wsdl:message>
    <wsdl:message name="Ticket_DisplayTST_7_1">
        <wsdl:part element="ticket_displaytst_7_1:Ticket_DisplayTST" name="Ticket_DisplayTST_7_1" />
    </wsdl:message>
    <wsdl:message name="Ticket_DisplayTSTReply_7_1">
        <wsdl:part element="ticket_displaytstreply_7_1:Ticket_DisplayTSTReply" name="Ticket_DisplayTSTReply_7_1" />
    </wsdl:message>
    <wsdl:portType name="AmadeusWebServicesPT">
        <wsdl:operation name="Air_SellFromRecommendation">
            <wsdl:input message="tns:Air_SellFromRecommendation_5_2" />
            <wsdl:output message="tns:Air_SellFromRecommendationReply_5_2" />
        </wsdl:operation>
        <wsdl:operation name="DocIssuance_IssueTicket">
            <wsdl:input message="tns:DocIssuance_IssueTicket_9_1" />
            <wsdl:output message="tns:DocIssuance_IssueTicketReply_9_1" />
        </wsdl:operation>
        <wsdl:operation name="Fare_CheckRules">
            <wsdl:input message="tns:Fare_CheckRules_7_1" />
            <wsdl:output message="tns:Fare_CheckRulesReply_7_1" />
        </wsdl:operation>
        <wsdl:operation name="Fare_InformativePricingWithoutPNR">
            <wsdl:input message="tns:Fare_InformativePricingWithoutPNR_8_1" />
            <wsdl:output message="tns:Fare_InformativePricingWithoutPNRReply_8_1" />
        </wsdl:operation>
        <wsdl:operation name="Fare_MasterPricerTravelBoardSearch">
            <wsdl:input message="tns:Fare_MasterPricerTravelBoardSearch_14_2" />
            <wsdl:output message="tns:Fare_MasterPricerTravelBoardSearchReply_14_2" />
        </wsdl:operation>
        <wsdl:operation name="Fare_PricePNRWithBookingClass">
            <wsdl:input message="tns:Fare_PricePNRWithBookingClass_7_3" />
            <wsdl:output message="tns:Fare_PricePNRWithBookingClassReply_7_3" />
        </wsdl:operation>
        <wsdl:operation name="MiniRule_GetFromPricingRec">
            <wsdl:input message="tns:MiniRule_GetFromPricingRec_11_1" />
            <wsdl:output message="tns:MiniRule_GetFromPricingRecReply_11_1" />
        </wsdl:operation>
        <wsdl:operation name="PNR_AddMultiElements">
            <wsdl:input message="tns:PNR_AddMultiElements_14_1" />
            <wsdl:output message="tns:PNR_Reply_14_1" />
        </wsdl:operation>
        <wsdl:operation name="PNR_Cancel">
            <wsdl:input message="tns:PNR_Cancel_14_1" />
            <wsdl:output message="tns:PNR_Reply_14_1" />
        </wsdl:operation>
        <wsdl:operation name="PNR_Retrieve">
            <wsdl:input message="tns:PNR_Retrieve_14_1" />
            <wsdl:output message="tns:PNR_Reply_14_1" />
        </wsdl:operation>
        <wsdl:operation name="PNR_Retrieve2">
            <wsdl:input message="tns:PNR_Retrieve_14_1" />
            <wsdl:output message="tns:PNR_List_0_1" />
        </wsdl:operation>
        <wsdl:operation name="Queue_List">
            <wsdl:input message="tns:Queue_List_11_1" />
            <wsdl:output message="tns:Queue_ListReply_11_1" />
        </wsdl:operation>
        <wsdl:operation name="Queue_PlacePNR">
            <wsdl:input message="tns:Queue_PlacePNR_3_1" />
            <wsdl:output message="tns:Queue_PlacePNRReply_3_1" />
        </wsdl:operation>
        <wsdl:operation name="Security_Authenticate">
            <wsdl:input message="tns:Security_Authenticate_6_1" />
            <wsdl:output message="tns:Security_AuthenticateReply_6_1" />
        </wsdl:operation>
        <wsdl:operation name="Security_SignOut">
            <wsdl:input message="tns:Security_SignOut_4_1" />
            <wsdl:output message="tns:Security_SignOutReply_4_1" />
        </wsdl:operation>
        <wsdl:operation name="Ticket_CreateTSTFromPricing">
            <wsdl:input message="tns:Ticket_CreateTSTFromPricing_4_1" />
            <wsdl:output message="tns:Ticket_CreateTSTFromPricingReply_4_1" />
        </wsdl:operation>
        <wsdl:operation name="Ticket_DisplayTST">
            <wsdl:input message="tns:Ticket_DisplayTST_7_1" />
            <wsdl:output message="tns:Ticket_DisplayTSTReply_7_1" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AmadeusWebServicesBinding" type="tns:AmadeusWebServicesPT">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="Air_SellFromRecommendation">
            <soap:operation soapAction="http://webservices.amadeus.com/1ASIWBELBEL/ITAREQ_05_2_IA" />
            <wsdl:input>
                <soap:body use="literal" />
                <soap:header part="session" use="literal" message="tns:Session_2.0" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
                <soap:header part="session" use="literal" message="tns:Session_2.0" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DocIssuance_IssueTicket">
            <soap:operation soapAction="http://webservices.amadeus.com/1ASIWBELBEL/TTKTIQ_09_1_1A" />
            <wsdl:input>
                <soap:body use="literal" />
                <soap:header part="session" use="literal" message="tns:Session_2.0" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
                <soap:header part="session" use="literal" message="tns:Session_2.0" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Fare_CheckRules">
            <soap:operation soapAction="http://webservices.amadeus.com/1ASIWBELBEL/FARQNQ_07_1_1A" />
            <wsdl:input>
                <soap:body use="literal" />
                <soap:header part="session" use="literal" message="tns:Session_2.0" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
                <soap:header part="session" use="literal" message="tns:Session_2.0" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Fare_InformativePricingWithoutPNR">
            <soap:operation soapAction="http://webservices.amadeus.com/1ASIWBELBEL/TIPNRQ_08_1_1A" />
            <wsdl:input>
                <soap:body use="literal" />
                <soap:header part="session" use="literal" message="tns:Session_2.0" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
                <soap:header part="session" use="literal" message="tns:Session_2.0" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Fare_MasterPricerTravelBoardSearch">
            <soap:operation soapAction="http://webservices.amadeus.com/1ASIWBELBEL/FMPTBQ_14_2_1A" />
            <wsdl:input>
                <soap:body use="literal" />
                <soap:header part="session" use="literal" message="tns:Session_2.0" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
                <soap:header part="session" use="literal" message="tns:Session_2.0" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Fare_PricePNRWithBookingClass">
            <soap:operation soapAction="http://webservices.amadeus.com/1ASIWBELBEL/TPCBRQ_07_3_1A" />
            <wsdl:input>
                <soap:body use="literal" />
                <soap:header part="session" use="literal" message="tns:Session_2.0" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
                <soap:header part="session" use="literal" message="tns:Session_2.0" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="MiniRule_GetFromPricingRec">
            <soap:operation soapAction="http://webservices.amadeus.com/1ASIWBELBEL/TMRQRQ_11_1_1A" />
            <wsdl:input>
                <soap:body use="literal" />
                <soap:header part="session" use="literal" message="tns:Session_2.0" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
                <soap:header part="session" use="literal" message="tns:Session_2.0" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PNR_AddMultiElements">
            <soap:operation soapAction="http://webservices.amadeus.com/1ASIWBELBEL/PNRADD_14_1_1A" />
            <wsdl:input>
                <soap:body use="literal" />
                <soap:header part="session" use="literal" message="tns:Session_2.0" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
                <soap:header part="session" use="literal" message="tns:Session_2.0" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PNR_Cancel">
            <soap:operation soapAction="http://webservices.amadeus.com/1ASIWBELBEL/PNRXCL_14_1_1A" />
            <wsdl:input>
                <soap:body use="literal" />
                <soap:header part="session" use="literal" message="tns:Session_2.0" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
                <soap:header part="session" use="literal" message="tns:Session_2.0" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PNR_Retrieve">
            <soap:operation soapAction="http://webservices.amadeus.com/1ASIWBELBEL/PNRRET_14_1_1A" />
            <wsdl:input>
                <soap:body use="literal" />
                <soap:header part="session" use="literal" message="tns:Session_2.0" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
                <soap:header part="session" use="literal" message="tns:Session_2.0" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PNR_Retrieve2">
            <soap:operation soapAction="http://webservices.amadeus.com/1ASIWBELBEL/PNRRET_14_1_1A" />
            <wsdl:input>
                <soap:body use="literal" />
                <soap:header part="session" use="literal" message="tns:Session_2.0" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
                <soap:header part="session" use="literal" message="tns:Session_2.0" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Queue_List">
            <soap:operation soapAction="http://webservices.amadeus.com/1ASIWBELBEL/QDQLRQ_11_1_1A" />
            <wsdl:input>
                <soap:body use="literal" />
                <soap:header part="session" use="literal" message="tns:Session_2.0" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
                <soap:header part="session" use="literal" message="tns:Session_2.0" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Queue_PlacePNR">
            <soap:operation soapAction="http://webservices.amadeus.com/1ASIWBELBEL/QUQPCQ_03_1_1A" />
            <wsdl:input>
                <soap:body use="literal" />
                <soap:header part="session" use="literal" message="tns:Session_2.0" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
                <soap:header part="session" use="literal" message="tns:Session_2.0" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Security_Authenticate">
            <soap:operation soapAction="http://webservices.amadeus.com/1ASIWBELBEL/VLSSLQ_06_1_1A" />
            <wsdl:input>
                <soap:body use="literal" />
                <soap:header part="session" use="literal" message="tns:Session_2.0" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
                <soap:header part="session" use="literal" message="tns:Session_2.0" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Security_SignOut">
            <soap:operation soapAction="http://webservices.amadeus.com/1ASIWBELBEL/VLSSOQ_04_1_1A" />
            <wsdl:input>
                <soap:body use="literal" />
                <soap:header part="session" use="literal" message="tns:Session_2.0" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
                <soap:header part="session" use="literal" message="tns:Session_2.0" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Ticket_CreateTSTFromPricing">
            <soap:operation soapAction="http://webservices.amadeus.com/1ASIWBELBEL/TAUTCQ_04_1_1A" />
            <wsdl:input>
                <soap:body use="literal" />
                <soap:header part="session" use="literal" message="tns:Session_2.0" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
                <soap:header part="session" use="literal" message="tns:Session_2.0" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Ticket_DisplayTST">
            <soap:operation soapAction="http://webservices.amadeus.com/1ASIWBELBEL/TTSTRQ_07_1_1A" />
            <wsdl:input>
                <soap:body use="literal" />
                <soap:header part="session" use="literal" message="tns:Session_2.0" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
                <soap:header part="session" use="literal" message="tns:Session_2.0" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AmadeusWebServices">
        <wsdl:port name="AmadeusWebServicesPort" binding="tns:AmadeusWebServicesBinding">
            <soap:address location="https://production.webservices.amadeus.com" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>


<!-- Build Key: 1F8B0800000000000000258DC10AC2301005EFFD8A3D2AD2B289D0C3DEDA2A41A82054C879B17B0834694882E0DF1B14DE6960E6190992B8B83D40715E72611F0934AABE45DD2A042B6B90BCF207B027AD499DC1DC9F2744426CEC7299C1FC137B82B7A45C4B04AAC30E9B6973128063DCDCEB774130CAC62EC161BCCEC76A0F0F08ECA50AC372B315D67D012E21F24592000000 -->